services:
  trivia-app-dev:
    image: trivia-app-dev
    build:
      context: .
      dockerfile: ./Dockerfile
      target: development
    volumes:
     - .:/app
     - ./node_modules:/app/node_modules
    ports:
      - 3001:3000
